*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}

h2{
    position: absolute;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw rgb(0, 200, 255);
    text-transform: uppercase;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color: rgb(5, 210, 210);
    -webkit-text-stroke: 0vw #252839;
    border-right: 2px solid rgb(104, 174, 174);
    overflow: hidden;
    animation: anim 6s linear infinite;
}

@keyframes anim {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}